@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #18181E;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;      /* hace que la pagina entera se vea OJO */
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.web-name {
    color:inherit;
    text-decoration: none;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color:inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color:#adadad;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: white;
    background-color: #000000;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 0.9rem;
}

.secondary-nav ul {
    display: flex;
    margin-top: 1.5rem;
    margin-left: 0;
    padding: 0;
    list-style: none;
}

.secondary-nav a {
    color:inherit;
    text-decoration: none;
    padding: 0.5rem;
}

.secondary-nav a:hover {
    color:#adadad;
}
